*  {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  /* Main Style Start */
  body { 
    width: 100%;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    width: 100%; 
    max-width: 1000px;
  }  
  .container {
    width: 100%; 
    max-width: 1000px;
    margin: 0 auto;
  }

/* Main Style End */
/* Header Style Start */
  .header {
    background-color: #74756C;
    width: 100%; 
    max-width: 1000px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    
  }
  .nav-link {
    padding: 0 30px;
    line-height: 10px;
    color: #EBE6E3;
    text-decoration: none;
  }  
  /* Header Style End */
  /* Profile Style Start */
 
  .profile-container {
    display: flex;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #84949D;
    margin: 40px 100px;
  }
  .profile-title {
    margin: 100px 0 0 25px;
    font: 3em sans-serif;
    color: #84949D;
  }
  .profile-subtitle {
    margin: 20px 0 0 25px;
    font: 2em sans-serif;
    color: #84949D;
  }
/* Profile Style End */
/* Info Style Start */
  .main-info {
    display: flex;
  }
  .main-container {
    width: 60%;
    padding: 0 80px 0 30px; 
  }
  .left-container{
    width: 40%;
    background-color: #EBE6E3;
    padding: 0 80px 0 30px;
  }
  .Skills-textbold{
    font-weight: bolder;
    color: #84949D;
  }
  .Edu-textbold {
    font-weight: lighter;
    color: #84949D;
    text-decoration: underline;
  }
  .section-title {
    color: #84949D;
   }
  .skills-list {
    margin-bottom: 5%;
    list-style: none;
  }
  .lang-list {
    margin-bottom: 5%;
    list-style: none;
  }
  .contact-list {
    margin-bottom: 5%;
    list-style: none;
  }
  .contact-textbold {
    font-weight: bolder;
    color: #84949D;
  }
  .edu-list {
    margin-bottom: 5%;
    list-style: none;
  }
  .projects-list {
    margin-bottom: 5%;
    list-style: none;
  }
  .projects-link {
    font-weight: lighter;
    color: #84949D;
    text-decoration: underline;
  }
/* Info Style End */
/* Footer Style Start */
  .footer {
    background-color: #74756C;
    max-width: 1000px;
    padding: 10px;
    width: 100%;  
  
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #EBE6E3;
    
  }
  .git-link {
    padding: 0 50px;
    color: #EBE6E3;
    text-decoration: none;
  }
  .rss {  width: 60px;
    margin: 0 50px;
  }
  
 /* Footer Style End */ 
  